{% include 'admin-layout.html' %}

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Charts</h1>
    <p class="mb-4">Chart.js is a third-party plugin that is used to generate the charts in this theme. The charts below
        have been customized - for further customization options, please visit the <a target="_blank"
            href="https://www.chartjs.org/docs/latest/">official Chart.js documentation</a>.</p>

    <!-- Content Row -->
    <div class="row">

        <div class="col-xl-12">
            <!-- Donut Chart -->
            <div class="card shadow mb-4" style="width: 100%">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Revenue Share of Each Product ($)</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-pie">
                        <canvas id="myPieChart"></canvas>
                    </div>
                </div>
            </div>


            <div class="card shadow mb-4" style="width: 100%">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Top 10 Products based on Quantity Sold</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="myBarChart"></canvas>
                    </div>
                </div>
            </div>

            <div class="card shadow mb-4" style="width: 100%">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Quantity Sold of Each Product by Month</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="productBarChart"></canvas>
                    </div>
                </div>
            </div>
            <form method="POST" action="{{ url_for('revenue.revenue_page') }}" id="goalForm">

                <div class="form-group">
                    <label for="targetSales">Enter Cumulative Goal Target:</label>
                    <input type="number" class="form-control" id="targetSales" min="1" max="1000000"   placeholder="Enter Goal Target (E.g. 100 000)" name="targetSales"
                        required>
                </div>
                <div class="form-group">
                    <label for="monthsToGoal">Select Number of Months to Reach Goal:</label>
                    <input type="number" class="form-control " id="monthsToGoal" min="1" max="12"
                        placeholder="Select Number of Months to Goal (Max 12)" name="monthsToGoal" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

            <script>
                document.getElementById('filterForm').addEventListener('submit', function (event) {
                    // Prevent the form from submitting normally
                    event.preventDefault();

                    // Get the values from the form fields
                    var targetSalesInput = document.getElementById('targetSales');
                    var targetSalesValue = parseInt(targetSalesInput.value, 10);

                    var monthsToGoalInput = document.getElementById('monthsToGoal');
                    var monthsToGoalValue = parseInt(monthsToGoalInput.value, 10);

                    // Submit the form
                    this.submit();
                });
            </script>

            <div class="card shadow mb-4" style="width: 100%">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">

                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart-bar">
                        <canvas id="goalBarChart"></canvas>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>&copy; Your Website 2019</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="static/vendor/jquery/jquery.min.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for all pages-->
<script src="static/js/sb-admin-2.min.js"></script>

<!-- Page level plugins -->
<script src="static/vendor/chart.js/Chart.min.js"></script>

<!-- JavaScript code using Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>


    $(document).ready(function () {


        // Get the fetched data from the template variable
        var data = JSON.parse('{{ revenue_data|tojson|safe }}');

        // Extract the store names and revenues from the fetched data
        var productName = data.map(function (item) {
            return item.productName;
        });
        var revenues = data.map(function (item) {
            return item.revenue;
        });

        var ctx = document.getElementById('myPieChart').getContext('2d');
        var myPieChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: productName,
                datasets: [{
                    data: revenues,
                    backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', '#f6c23e', '#e74a3b', '#8e44ad', '#27ae60', '#3498db', '#f39c12', '#9b59b6'],

                    hoverBackgroundColor: ['#2e59d9', '#17a673', '#2c9faf', '#dbb10f', '#d32e2b'],
                    hoverBorderColor: 'rgba(234, 236, 244, 1)',
                }],
            },
            options: {
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: true,
                        position: 'right',
                    }
                },
                tooltips: {
                    
                    backgroundColor: 'rgb(255,255,255)',
                    bodyFontColor: '#858796',
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                    
                },
                cutoutPercentage: 80,
            },
        });

        var data = JSON.parse('{{ quantity_sold_data|tojson|safe }}');
        console.log(data);
        // Extract the product names and quantities from the fetched data
        var quantitySoldProductName = data.map(function (item) {
            return item.productName;
        });
        var quantitySold = data.map(function (item) {
            return item.totalQuantitySold;
        });

        var ctx2 = document.getElementById('myBarChart').getContext('2d');
        var myBarChart = new Chart(ctx2, {
            type: 'bar',
            data: {
                labels: quantitySoldProductName,
                datasets: [{
                    label: 'Quantity Sold',
                    data: quantitySold,
                    backgroundColor: ['#4e73df', '#1cc88a', '#36b9cc', '#f6c23e', '#e74a3b', '#8e44ad', '#27ae60', '#3498db', '#f39c12', '#9b59b6'],

                    borderWidth: 1,
                    maxBarThickness: 50,
                }],
            },
            options: {
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: false,
                    }
                },
                scales: {
                    x: {
                        grid: {
                            display: false,

                        },

                        ticks: {
                            
                            callback: function (value) {
                                if (value.length > 10) { // Adjust the character length as per your preference
                                    return value.substr(0, 10) + '...'; // Truncate the label and add ellipsis
                                }
                                return value;
                            }
                        },

                    },

                    y: {
                        grid: {
                            display: false,
                            drawBorder: false,
                        },
                        ticks: {
                            beginAtZero: true,
                            stepSize: 10,
                        }
                    }
                },
                tooltips: {
                    backgroundColor: 'rgb(255,255,255)',
                    bodyFontColor: '#858796',
                    borderColor: '#dddfeb',
                    borderWidth: 1,
                    xPadding: 15,
                    yPadding: 15,
                    displayColors: false,
                    caretPadding: 10,
                    
                },
            },

        });



var product_data = JSON.parse('{{ each_product_sold_data|tojson|safe }}');
var months = [...new Set(product_data.map(item => item.month))];
var monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
var labeledMonths = months.map(month => monthNames[month - 1]);
console.log(product_data);
// Create an empty object to store datasets for each product
var datasetsMap = {};

// Iterate over the forecast data and organize the data into datasets
for (var i = 0; i < product_data.length; i++) {
    var entry = product_data[i];
    var month = entry.month;
    var productName = entry.productName;
    var productId = entry.productId;
    var quantitySold = entry.quantitySold;

    // If the dataset for the product doesn't exist, create it
    if (!datasetsMap[productId]) {
        datasetsMap[productId] = {
            label: productName,
            data: Array(months.length).fill(0), // Initialize data array with zeros for each month
            backgroundColor: 'rgba(0, 0, 0, 0)', // Set transparent background for the area chart
            borderColor: getRandomColor(),
            fill: true // Enable area fill
        };
    }

    // Update the quantitySold for the corresponding month
    datasetsMap[productId].data[months.indexOf(month)] = quantitySold;
}

// Convert the datasetsMap object into an array of datasets
var datasets = Object.values(datasetsMap);

var ctx = document.getElementById('productBarChart').getContext('2d');
var myChart = new Chart(ctx, {
    type: 'line', // Change the chart type to 'line'
    data: {
        labels: labeledMonths,
        datasets: datasets
    },
    options: {
        maintainAspectRatio: false,
        plugins: {
            legend: {
                display: true,
                position: 'top'
            }
        },
        scales: {
            x: {
                stacked: true,
                grid: {
                    display: false
                }
            },
            y: {
                stacked: true,
                grid: {
                    display: true
                },
                ticks: {
                    beginAtZero: true
                }
            }
        }
    }
});



        var goal_data = JSON.parse('{{ goal_data|tojson|safe }}');
        var combinedData = JSON.parse('{{ combined_data|tojson|safe }}');

        // Sort the goal data by date
        var sortedData = Object.keys(goal_data)
            .sort((a, b) => new Date(a) - new Date(b))
            .reduce((acc, key) => {
                acc[key] = goal_data[key];
                return acc;
            }, {});

        // Extract the cumulative sales data for each month
        var cumulativeEarnings = 0;
        var monthlyEarnings = [];
        var labeledMonths = [];
        var monthNames = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];


        var monthNum = new Date(Object.keys(sortedData)[0]).getMonth(); // Get the month number (0 to 11) from the first date string
        for (var key in sortedData) {
            cumulativeEarnings += sortedData[key].totalSales;
            monthlyEarnings.push(cumulativeEarnings);
            labeledMonths.push(monthNames[monthNum]); // Use the month name as the label

            monthNum++; // Increment the month number for the next iteration
            if (monthNum > 11) {
                monthNum = 0; // Reset to January (0) if it exceeds 11 (December)
            }
        }


        // Calculate the projected earnings based on the sales_per_month value and remaining months
        var projectedMonths = JSON.parse('{{ months_to_goal|tojson|safe }}');
        var projectedEarnings = monthlyEarnings.slice(-1)[0]; // Get the last cumulative earnings value
        var lastCumulativeMonth = new Date(Object.keys(sortedData).slice(-1)[0]);

        for (var i = 1; i <= projectedMonths; i++) {
            var salesPerMonth = JSON.parse('{{ sales_per_month | tojson | safe }}');
            projectedEarnings += salesPerMonth;
            monthlyEarnings.push(projectedEarnings);

            lastCumulativeMonth.setMonth(lastCumulativeMonth.getMonth() + 1);
            labeledMonths.push(monthNames[lastCumulativeMonth.getMonth()]); // Use the month name as the label
        }


        // Create datasets for the cumulative earnings
        var datasets = [];
        var cumulativeDataset = {
            label: 'Cumulative Earnings',
            data: monthlyEarnings,
            backgroundColor: 'rgba(75, 192, 192, 0.2)',
            borderColor: 'rgba(75, 192, 192, 1)',
            borderWidth: 1,
            pointRadius: 5,
            pointHoverRadius: 7,
            borderDash: [5, 5]
        };
        datasets.push(cumulativeDataset);

        // Convert the 'combined_data' to an array of objects to work with Chart.js
        var combinedDataArray = Object.keys(combinedData).map(function (key) {
            return {
                date: new Date(key),
                totalSales: combinedData[key].totalSales
            };
        });

        // Sort the 'combined_data' array by date
        combinedDataArray.sort(function (a, b) {
            return a.date - b.date;
        });

        // Extract the cumulative sales data for each month
        var cumulativeCombinedEarnings = 0;
        var combinedMonthlyEarnings = [];
        combinedDataArray.forEach(function (item) {
            cumulativeCombinedEarnings += item.totalSales;
            combinedMonthlyEarnings.push(cumulativeCombinedEarnings);
        });

        // Create the dataset for the combined earnings
        var combinedDataset = {
            label: 'Forecasted Earnings (SES Model)',
            data: combinedMonthlyEarnings,
            backgroundColor: 'rgba(192, 75, 75, 0.2)',
            borderColor: 'rgba(192, 75, 75, 1)',
            borderWidth: 1,
            pointRadius: 5,
            pointHoverRadius: 7,
            borderDash: [5, 5] // Dashed line for the projected part
        };
        datasets.push(combinedDataset);



        var ctx = document.getElementById('goalBarChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: labeledMonths,
                datasets: datasets
            },
            options: {
                maintainAspectRatio: false,
                plugins: {
                    legend: {
                        display: true,
                        position: 'top'
                    },
                    tooltip: {
                        callbacks: {
                            label: function (context) {
                                var label = context.dataset.label || '';
                                if (label) {
                                    label += ': ';
                                }
                                label += '$' + context.raw.toFixed(2); // Display earnings with 2 decimal places
                                return label;
                            }
                        }
                    }
                },
                scales: {
                    x: {
                        grid: {
                            display: false
                        }
                    },
                    y: {
                        grid: {
                            display: true
                        },
                        ticks: {
                            beginAtZero: true,
                            callback: function (value) {
                                return '$' + value.toFixed(2); // Display y-axis ticks with '$' symbol and 2 decimal places
                            }
                        }
                    }
                }
            }
        });



        // Function to generate a random color
        function getRandomColor() {
            var letters = '0123456789ABCDEF';
            var color = '#';
            for (var i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            } 
            return color;
        }

    });

</script>

</body>

</html>