{% include 'admin-layout.html' %}

<!-- Begin Page Content -->
<div class="container-fluid">
  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">Profile</h1>

  <!-- Tab Navigation -->
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" id="user-info-tab" data-toggle="tab" href="#user-info">Account Information</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="change-password-tab" data-toggle="tab" href="#change-password">Change Password</a>
    </li>
  </ul>

  <!-- Tab Content -->
  <div class="tab-content">
    <!-- User Information Tab -->
    <div class="tab-pane fade show active" id="user-info">
      <div class="card shadow mt-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Account Information</h6>
        </div>
        <div class="card-body">
          <form action="/update_profile" method="post">
            <div class="form-group">
              <label for="fullName">Full Name</label>
              <input type="text" class="form-control" id="fullName"  name="full_name"placeholder="Enter your full name" value=" {{ user_data[0][4] }}">
            </div>
            <div class="form-group">
              <label for="email">Email Address</label>
              <input type="email" class="form-control" id="email"   name="email"placeholder="Enter your email address" value="{{ user_data[0][3] }}">
            </div>
            <div class="form-group">
              <label for="phoneNumber">Phone Number</label>
              <input type="tel" class="form-control" id="phoneNumber" name="phone" placeholder="Enter your phone number" value="{{ user_data[0][5] }}">
            </div>
            <div class="form-group">
              <label for="address">Address</label>
              <textarea class="form-control" id="address" rows="3"  name="address" placeholder="Enter your address"> {{ user_data[0][8] }}</textarea>
            </div>
            <button type="submit" class="btn btn-primary">Save</button>
          </form>
        </div>
      </div>
    </div>

    <!-- Change Password Tab -->
    <div class="tab-pane fade" id="change-password">
      <div class="card shadow mt-4">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Change Password</h6>
        </div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <label for="currentPassword">Current Password</label>
              <input type="password" class="form-control" id="currentPassword" placeholder="Enter your current password">
            </div>
            <div class="form-group">
              <label for="newPassword">New Password</label>
              <input type="password" class="form-control" id="newPassword" placeholder="Enter your new password">
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm Password</label>
              <input type="password" class="form-control" id="confirmPassword" placeholder="Confirm your new password">
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /.container-fluid -->

<!-- End of Main Content -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<!-- Bootstrap core JavaScript-->
<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
<script src="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}"></script>
<script src="{{ url_for('static', filename='css/sb-admin-2.css') }}"></script>

<!-- Core plugin JavaScript-->
<script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

<!-- Custom scripts for all pages-->
<script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>

</body>
</html>
